body {
  background: #141414;
  color: #ffffff;
}

.row * {
  width: auto;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.form-control {
  margin-right: 5px;
  margin-bottom: 5px;
}

.movie-info {
  padding-left: 10px;
}

.list-unstyled {
  margin-bottom: 20px;
}